<ul class="reviews">
  <% @genres.each do |genre| %>
    <li>
	  <p>
        <%= genre.name %>
	  </p>
	  <p>
	    <% if current_user_admin? %>
	      <%= link_to "Edit", edit_genre_path(genre), class: "button" %>
	      <%= link_to "Delete", genre_path(genre), class: "button",
		      data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }%>
	    <% end %>
	  </p>
    </li>
  <% end %>
</ul>
<% if current_user_admin? %>
  <section class="admin">
	<%= link_to "Add New Genre", new_genre_path, class: "button" %>
  </section>
<% end %>
